/* Basics */
html,body{font-family:'ff-din-web','Open Sans', sans-serif;line-height:2;background:#6095D2;color:#222;margin:0;padding:0;}
h1,h2,h3{margin-top:20px;margin-bottom:10px;}
h4,h5,h6{margin-top:10px;margin-bottom:10px;}
h1{font-size:38px;}
h2{font-size:32px;}
h3{font-size:24px;}
h4{font-size:18px;}
h5{font-size:14px;}
h6{font-size:12px;}
p{margin:0 0 10px;}
a{-webkit-transition:all ease 150ms;-moz-transition:all ease 150ms;-o-transition:all ease 150ms;transition:all ease 150ms;color:#428bca;text-decoration:none;}
a:hover,a:focus{color:#2a6496;text-decoration:underline;}
.clearfix:before,.clearfix:after,.container:before,.container:after{content:" ";display:table;}
.clearfix:after,.container:after{clear:both;}

/* Home */
.hero-top { padding-left:20px; height:100px; background-size:cover; background-position:center; margin:0px; }
.hero-top a.social { color:#41658E; }
.middle { height:265px; }
.middlelogo { display:block; background-image:url(../img/fluidity.png); width:800px; height:265px; position: absolute; margin-left:auto; margin-right:auto; left:0; right:0; top:82px; }

/* Footer */
footer { background-color:#41658E; color:#6095D2; font-size:13px; position:fixed; width:100%; bottom:0; }
footer .container { padding:30px 0; }
footer .fineprint{ text-align:center; }
footer .bull { padding:0 11px; }
footer a { color:#6095D2; }
a:hover,a:focus { color:#6095D2; }

@media screen and (max-width:715px) 
{ 
  .middle { height:230px; }
  .middlelogo { background-image:url(../img/fluidity_small.png); width:305px; height:145px; background-size:305px 145px; top:132px; }
  #mc_embed_signup input.email { width:80%; }
  footer { font-size:10px; }
  footer .container { padding:10px 0; }
}